name: Canary

on:
  workflow_run:
    workflows: [Go]

jobs:
  release:
    runs-on: ubuntu-latest
    environment: canary
    strategy:
        matrix:
            arch: [ linux/amd64 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Extract version
        id: get_version
        run: echo "VERSION=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ gcc libc6-dev make pkg-config wget

      - name: Set up QEMU
        if: ${{ matrix.arch == 'linux/arm64' }}
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: ${{ matrix.arch == 'linux/arm64' }}
        uses: docker/setup-buildx-action@v3

      - name: Run build
        run: make ubuntu22.04 ubi9 PLATFORMS=${{ matrix.arch }} OUTPUT=type=docker REGISTRY=${{ vars.DOCKERHUB_REGISTRY }} FULL_VERSION=${{ steps.get_version.outputs.VERSION }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push to Docker Hub
        run: docker images | grep '${{ vars.DOCKERHUB_REGISTRY }}/dcgm-exporter' | awk '{print $1":"$2}' | xargs -I {} sh -c 'docker push {}'
