name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main'
    strategy:
      matrix:
        arch: [ linux/amd64 ]
    steps:
      - name: Checkout
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/checkout@v4
        with:
          fetch-tags: 1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Extract version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Run build and tag with version
        run: make ubuntu22.04 ubi9 PLATFORMS=${{ matrix.arch }} OUTPUT=type=docker REGISTRY=${{ vars.DOCKERHUB_REGISTRY }} NEW_EXPORTER_VERSION=${{ steps.get_version.outputs.VERSION }}

      - name: Run build and tag with latest version
        run: make ubuntu22.04 ubi9 PLATFORMS=${{ matrix.arch }} OUTPUT=type=docker REGISTRY=${{ vars.DOCKERHUB_REGISTRY }} FULL_VERSION=latest

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push to Docker Hub
        run: docker images | grep '${{ vars.DOCKERHUB_REGISTRY }}/dcgm-exporter' | awk '{print $1":"$2}' | xargs -I {} sh -c 'docker push {}'
